# **Introduction to Python for Data Analysis**

## *Topics*

1. Varibales
2. Commenting
3. Conditionals
4. List, Tuples and Dictionary
5. Loops
6. List Comprehension
7. Zip and Enumerate
8. Functions

### Variables and Commenting

> number = 5

> name = "AI ML Symposium"

> place = 'University of Oklahoma'

> \# This is a comment

In [ ]:
number = 5
name = "AI ML Symposium"
place = 'University of Oklahoma'

In [ ]:
# display what variables hold
print(number)
print(name)
print(place)

In [ ]:
# display everything together
print("Display everything at once")
print(name + " at " + place)

In [ ]:
# variable names are case sensitive
number = 10
Number = 11

print("The 'number' is ", number)
print("The 'Number' is ", Number)

### *Conditional Statements*

Logical operators used in conditional statements

1. **Equals** : To check if two members are equal, **operator: ==**
2. **Not Equals** : To check if two members are not equal, **operator: !=**
3. **Less than** : To check if one member is less than the other, **operator: <**
4. **Less than or equal to** : To check if one member is less than or equal to the other, **operator: <=**
5. **Greater than** : To check if one member is greater than the other, **operator: >**
6. **Greater than or equal to** : To check if one member is greater than or equal to the other, **operator: >=**
7. **and operator** : Returns true if both the statements are true, **operator: and**
8. **or operator** : Returns true if either of the statements is true, **operator: or**

#### if, if-else, if-elif statements

In [ ]:
number = 1000
max_number = 120

# want to check if the number is greater than maximum number
if number > max_number:
    print("The maximum number is ", number)

In [1]:
# want to check if the number is less than maximum number
# else we will say no it is not less than the maximum

if number < max_number:
    print("The number is less than the maximum number")
else:
    print("The number is not the maximum number")

NameError: name 'number' is not defined

In [ ]:
# now what if we want to check if two numbers are equal
# if not we want to check if one number is greater than other
# if not we can confirm that the number is less than the other

if number == max_number:
    print("The number is equal to the maximum number")
elif number > max_number:
    print("The number is greater than the maximum number")
else:
    print("The number is lesser than the maximum number")

### List, Tuples, and Dictinoaries

In [ ]:
numberList = [1, 2, 3, 4]
nameList = ["John", "Kane", "Ben", "Smith"]
combinedList = ["A", 56, 'C', 90 ]

#using list function
listFunction = list(range(0,9,2))

In [ ]:
print(numberList)

In [ ]:
print(nameList)

In [ ]:
print(combinedList)

In [ ]:
print(listFunction)

In [ ]:
print(listFunction[::-1])

In [ ]:
listFunction[1] = 10
print(listFunction)

In [ ]:
sum = 0
for numbers in listFunction:
    sum += numbers

print(sum)

In [ ]:
if 11 in listFunction:
    print(True)
else:
    print(False)

In [ ]:
import numpy as np

In [ ]:
np.sort(nameList)

In [ ]:
# Use of tuples
tuples = ("John", "Kane", "Ben", "Smith")

In [ ]:
np.sort(tuples)

In [ ]:
# Use of sets
sets = {"John", "Kane", "Ben", "Smith", "Kane"}

In [ ]:
print(sets)

In [ ]:
# Use of Dictinoray
# dictionary structure is key value pair

carDict = {"model" : ["Toyota", "Honda"],
           "make" : ["Supra", "S2000"],
          "engine" : ["2JZ", "F20C"],
          "year" : [1998, 2000]}

In [144]:
carDict['model']

['Toyota', 'Honda']

In [ ]:
import pandas as pd

In [ ]:
dataframe = pd.DataFrame(carDict)

In [ ]:
dataframe

In [ ]:
dataframe["make"]

In [ ]:
dataframe['model']

In [ ]:
from sklearn import datasets
dataset = datasets.load_iris()

In [ ]:
iris = dataset.data[0:100,0:3]

In [ ]:
newDF = pd.DataFrame(iris)

In [ ]:
trainData = newDF[0]

In [ ]:
testData = newDF[1]

In [ ]:
print(testData)

## Loops

1. while loops
2. for loops

In [139]:
# While loop

i = 0 # index to keep track of the count

while(i<5):
    print(i)
    i+=1

0
1
2
3
4

In [140]:
# for loop

for i in range(0,5):
    print(i)

0
1
2
3
4

In [142]:
for items in nameList:
    print(items)

John
Kane
Ben
Smith

In [147]:
for key, value in carDict.items():
    
    print(key, " : ", value)

model  :  ['Toyota', 'Honda']
make  :  ['Supra', 'S2000']
engine  :  ['2JZ', 'F20C']
year  :  [1998, 2000]

## List Comprehension

In [155]:
# get even numbers from 0 to 21

evens = []

for i in range(0,21):
    if i%2 == 0:
        evens.append(i)

print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [156]:
# want to create a list of even numbers ranging from 0 to 20

evenNumbers = [x for x in range(0,21) if x%2 == 0]

In [157]:
print(evenNumbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Zip and Enumerate

In [158]:
for i in enumerate(evenNumbers):
    print(i)

(0, 0)
(1, 2)
(2, 4)
(3, 6)
(4, 8)
(5, 10)
(6, 12)
(7, 14)
(8, 16)
(9, 18)
(10, 20)

In [165]:
oddNumbers = [x for x in range(0,22) if x%2!=0]

In [167]:
for i in zip(evenNumbers, oddNumbers):
    print(i)

(0, 1)
(2, 3)
(4, 5)
(6, 7)
(8, 9)
(10, 11)
(12, 13)
(14, 15)
(16, 17)
(18, 19)
(20, 21)

In [ ]:
iris

In [ ]:
for i in enumerate(zip(iris[:,0], iris[:,1])):
    print(i)

## Functions

In [174]:
import random
def generateRandomNumbers(range1, range2, numElements):
    
    randomNumbers = []
    
    for i in range(0, numElements+1):
        randomNumbers.append(random.randrange(range1, range2, 1))
        
    return randomNumbers

In [175]:
randNumbers = generateRandomNumbers(0, 20, 5)

In [176]:
randNumbers

[2, 16, 19, 7, 15, 5]

In [181]:
randNumbers2 = generateRandomNumbers(100, 300, 10)

In [182]:
randNumbers2

[156, 144, 173, 255, 112, 252, 280, 132, 103, 117, 186]